.ant-select-selector {
  border: none !important;
  background-color: #f9fafb !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-select-focused {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
